* {
  margin: 0;
  padding: 0;
}

.center, #titulo{
  max-width: fit-content;
  margin: auto;
  margin-top: 2%;
  padding: 2rem;
  text-align: center;
}

#form {
  border: 3px black solid;
  padding: 2rem;
}

.jump {
  display: block;
}
